<!DOCTYPE html>
<html>
<head>
    <header>
        <h2 style="font-size:36px; padding:10px;">Smart cart</h2>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact </a></li>
            </ul>
        </nav>
    </header>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="cardi">
        <h1>Webcam Capture</h1>
        <div id="video-container">
            <video id="video" autoplay></video>
        </div>
        <button id="capture-button">Add to Cart</button>
    </div>

    <h3>Selected Items</h3>
    <div id="result">
        <!-- Recognition results will be displayed here -->
    </div>

    <div id="cart">
        <!-- Cart section to display items added to the cart -->
        <h3>Shopping Cart</h3>
        <ul id="cart-items">
            <!-- Cart items will be dynamically added here -->
        </ul>
        <div id="cart-total">
            <!-- Display total amount here -->
        </div>
        <button class="navigate" onclick="navigateToPayment()">Proceed to Payment</button>
    </div>

    <script>
        // JavaScript for capturing image from webcam
        const video = document.getElementById('video');
        const captureButton = document.getElementById('capture-button');

        // Function to start the webcam
        async function startWebcam() {
            try {
                const stream = await navigator.mediaDevices.getUserMedia({ video: true });
                video.srcObject = stream;
            } catch (error) {
                console.error('Error accessing webcam:', error);
            }
        }

        startWebcam();

        captureButton.addEventListener('click', captureAndUploadImage);

        function captureAndUploadImage() {
            const canvas = document.createElement('canvas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            const context = canvas.getContext('2d');
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            const imageData = canvas.toDataURL('image/jpeg');

        fetch('/upload', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ image: imageData })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            var resultDiv = document.getElementById('result');
            resultDiv.innerHTML = '';
            if (data.error) {
                resultDiv.innerText = 'Error: ' + data.error;
            } else {
            resultDiv.innerHTML = generateProductCard(data);
            addToCart(data);
            }
        })
        .catch(error => {
            var resultDiv = document.getElementById('result');
            resultDiv.innerText = 'Error: ' + error.message;
        });}
	    function addToCart(data) {
            var cartItems = document.getElementById('cart-items');
            var listItem = document.createElement('li');
            listItem.innerHTML = generateProductCard(data);
            cartItems.appendChild(listItem);
        }
        function generateProductCard(data) {
            var name = data['Product Name'];
            var price = data['Price'];
            var id = data['Product ID'];
            var imageURL = '/static/images/' + name + '.jpg'
            return `
                <div class="card1">
                    <div class="card-content">
                        <div class="card-image">
                            <img src="${imageURL}" alt="${name}" style="width: 100px; height: 100px; margin-top: 25px">
                        </div>
                        
                        <div class="card-info">
                            <p><strong>Product Name:</strong> ${name}</p>
                            <p><strong>Price:</strong> ${price}</p>
                            <p><strong>Product ID:</strong> ${id}</p>
                        </div>
                    </div>
                </div>
            `;
        }
        function navigateToPayment() {
            fetch('/get_cart_items')
                .then(response => response.json())
                .then(data => {
                    var cartItems = data['cart_items'];
                    cartItems.forEach(item => {
                        item['Price'] = parseFloat(item['Price'].replace('$', '').trim());
                    });
        
                    var totalAmount = cartItems.reduce((total, item) => total + item['Price'], 0);
                    var paymentUrl = `/payment?cartItems=${JSON.stringify(cartItems)}&totalAmount=${totalAmount}`;
                    window.location.href = paymentUrl;
                })
                .catch(error => {
                    console.error('Error fetching cart items:', error);
                });
        }
        
    </script>
</body>
</html>